target/
.classpath
.DS_Store
.project
.settings/
*~
doc/
.idea
*.iml
*.gz
*.class
.settings/
pom.xml.releaseBackup
release.properties
*.tag
kraken-dclass/src/main/java/org/openddr/
.pydevproject
build/
testdata*
deploy.sh
