.DS_Store
*~

.classpath
.project
.settings/
.pydevproject
.idea
*.iml

*.class
*.tag
release.properties
target/
build/
pom.xml.releaseBackup
doc/

deploy.sh
testdata.csv
kraken-dclass/src/main/java/org/openddr/
*.gz
tmp/
*.swp
