# Note: This file is managed by Puppet.

maxClientCnxns=50

# The number of milliseconds of each tick
tickTime=2000

# The number of ticks that the initial 
# synchronization phase can take
initLimit=5

# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
syncLimit=2

# the directory where the snapshot is stored.
dataDir=/var/lib/zookeeper

# the port at which the clients will connect
clientPort=2181

server.1023=analytics1023.eqiad.wmnet:2182:2183
server.1024=analytics1024.eqiad.wmnet:2182:2183
server.1025=analytics1025.eqiad.wmnet:2182:2183

